
<html>
    <head>
        <title>Dashboard Example</title>
        
    </head>
    <body>
     
        <div class="cardBox">
          <div class="card">
            <div  style="display: flex; align-items: center;">
              <div class="numbers">{{nbClient}}</div>
              <div class="cardName" >Nombre Client</div>
              <div class="iconBx">
              <i class="fas fa-users" style="font-size: 24px;margin-left: 100px; margin-top: -20px;"></i>
              </div>
            </div>
            </div>
          <div class="card">
            <div style="display: flex; align-items: center;">
              <div class="numbers">{{nbProduit}}</div>
              <div class="cardName">Nombre Produit</div>
              <div class="iconBx">
              <i class="fas fa-laptop-code" style="font-size: 24px;  margin-left: 100px; margin-top: -20px;"></i>
              </div>
            </div>

          </div>
          <div class="card">
            <div style="display: flex; align-items: center;">
              <div class="numbers">{{nbTransaction}}</div>
              <div class="cardName">Nombre Transaction</div>
              <div class="iconBx">
              <i class="fas fa-exchange-alt" style="font-size: 24px; margin-left: 60px;margin-top: -20px;"></i>
              </div>
            </div>

          </div>
          <div class="card">
            <div style="display: flex; align-items: center;">
              <div class="numbers">{{total}}</div>
              <div class="cardName" >Montant Transaction</div>
              <div class="iconBx">
              <i class="fa-solid fa-dollar-sign"  style="font-size: 26px;margin-top: -20px; "></i>
              </div>
            </div>
          </div>
        </div>
        <div class="Chart">
        <canvas id="myChart"></canvas>
        
        <br> 
        <div class="d-flex justify-content-between">
            <!-- <button class="btn btn-danger" (click)="getLastDay()">Get last Day</button> -->
            <button (click)="getLastMonth()" class="btn btn-warning">Get last Month</button>
            <button (click)="getLastYear()" class="btn btn-primary">Get last Year</button>
        </div>
      </div>
      <div class="user">
        <img src="../../assets/image/img maha.jpg" alt="Profile Image" class="profile-image"/>
      </div>
      
      
      
        <br>
       
       

    </body>
    </html>