/* Définir un style pour le corps de la page */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  /* Définir un style pour le titre de la page */
  h1 {
    text-align: center;
    color: #333333;
  }
  
  /* Définir un style pour la carte */
  .card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  
  /* Définir un style pour le conteneur */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Définir un style pour le graphique */
  #myChart {
    width: 50%;
    height: auto;
    margin: 20px auto;
  }
  
  