.container{
    margin-left: 25%;
  }
  
  .crm {
    
    color: #333;
    margin-top: -25%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: "Lato", sans-serif;
    width: 600px;
    font-size: 20px;
    margin: 10px;
    position: relative;
  }
  
  .img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */
    width: 600px;
    margin: 10px;
  }

  
