.container{
    margin-left: 25%;
    margin-top: 5%;
  }
  
  .crm {
    color: #333;
    margin-top: -25%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: "Lato", sans-serif;
    width: 600px;
    
    font-size: 20px;
    margin: 10px;
  }
  
  .img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
    margin: 10px;
  }
  
  .logo {
    top: 0;
    left: 0;
    margin-top: -1100px;
    margin-left: -300px;
    width: 350px;
  }
  
  .tel-link {
    color: blue;
    margin-right: 30px; /* Ajoute un espace de 10 pixels à droite */
  }
  
  .whatsapp-link {
    color: rgb(17, 160, 96);
    margin-right: 30px; /* Ajoute un espace de 10 pixels à droite */
  }
  
  .linkedin-link {
    color: #0e76a8;
    margin-right: 30px; /* Ajoute un espace de 10 pixels à droite */
  }
  
  .facebook-link {
    color: #1877f2;
    margin-right: 30px; /* Ajoute un espace de 10 pixels à droite */
  }
  
  .youtube-link {
    color: #ff0000;
    margin-right: 30px; /* Ajoute un espace de 10 pixels à droite */
  }
  
  .contact{
    margin-top: -48%;
    margin-left: 60%;
  }
  
  .app{
    background-color: #ffffff; /* Couleur de fond blanc */
    color: #030303;/* Couleur du texte noir */
  }