<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>
  
  <div class="container">
    <img class="img"  src="../../assets/image/crm2.png"/>
  
      <!-- <h3 class="def">Customer Relationship Management</h3> -->
   <p class="crm">Cette plateforme CRM offre une gestion complète des clients, 
        des produits et des transactions de l'entreprise.<br>
         Tout en fournissant 
        un aperçu des avis clients et des statistiques grâce à son tableau de bord. </p>
      
    
  </div>
  <div class="user">
    <i class="fas fa-user"></i>
  </div>
   
</html>