<html class="app">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<div class="container">
  <img class="img"  src="https://o.remove.bg/downloads/1d1c1a2c-ff99-45e3-9e4e-7d282fd0f736/crm-definition-removebg-preview.png"/>


    <!-- <h3 class="def">Customer Relationship Management</h3> -->
 <p class="crm">Cette plateforme CRM sophistiquée offre une gestion complète des clients, 
      des produits et des transactions de l'entreprise, tout en fournissant 
      un aperçu des avis clients et des statistiques clés grâce à son tableau de bord. 
    
    </div>


<div >
  <img class="logo"  src="https://o.remove.bg/downloads/5490daee-129c-4b70-b74e-e0ab547de8da/logo-removebg-preview.png"   />
</div>
<br><br>
<div class="contact">
  <a class="tel-link" href="tel:+21652591855">+216 52 591 855   </a>
  <a class="whatsapp-link" href="https://api.whatsapp.com/send/?phone=21652591855&text&type=phone_number&app_absent=0">Whatsapp</a>
  <a class="linkedin-link" href="https://www.linkedin.com/company/for-right-solutions">Linkedin</a>
  <a class="facebook-link" href="https://www.facebook.com/frsdev/">Facebook</a>
  <a class="youtube-link" href="https://www.youtube.com/channel/UCBC0KbZzqKgD_kl1Wz_Frxw">Youtube</a>
</div>

</html>