<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<div class="container">

  <span class="icon-close"><i class="fa-solid fa-xmark"></i></span>
   
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

     <div class="form-group">
      <h2>Sign up</h2>
      <div class="input-box">
        <span class="icon">
          <i class="fa fa-user"></i>
        </span>
        <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
      />
      <label class="title" for="username">{{ 'Username' | translate }}</label>
     
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          {{'Username is required!'| translate}}
        </div>
      </div>
    
      <div class="input-box">
        <span class="icon"><i class="fas fa-envelope"></i></span>
        <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="form.email"
        required
        email
        #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
      />
        <label class="title" for="email">{{ 'Email' | translate }}</label>
         
       
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">{{'Email is required'| translate}}</div>
          <div *ngIf="email.errors['email']">
            {{'Email must be a valid email address'| translate}}
          </div>
        </div>
      </div>
     
      <div class="input-box">
        <span class="icon">
          <i class="fas fa-lock"></i>
        </span>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />

        <label class="title" for="password">{{ 'Password' | translate }}</label>   
          <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">{{'Password is required'| translate}}</div>
            <div *ngIf="password.errors['minlength']">
              {{'Password must be at least 6 characters'| translate}}
            </div>
          </div>
        
        
      </div>
      
      <div class="remembre-forgot">
        <label><input type="checkbox">I agree to the terms & conditions</label>
        <button class="btn">{{ 'Sign up' | translate }}</button>
      </div>


    

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        {{'Signup failed!'| translate}}<br />{{ errorMessage }}
      </div>
   
    <div class="alert alert-success" *ngIf="isSuccessful">
      {{'Your registration is successful!'| translate}}
    </div>
</div>
